.archive-university-content{
    .drop-down-menu-block{
        display: flex;
        flex-flow: column nowrap;
        width: 400px;
        margin: 0 auto;
        p{
            text-align: left; 
            margin-bottom: 20px; 
        }
        .choose-sport-menu{
            margin-bottom: 30px;
            width: 100%;
            border: none;
            background: $color__main-block;
            color: #fff;
        }
        i{
            position: absolute;
            color: $color__orange-accent;
            left: calc(50% + 120px);
            top: 243px;
        }
    }
   
    
}

select {
    /* styling */
    background-color: white;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  /* arrows */
 