.archive-university-content{
    .drop-down-menu-block{
        display: flex;
        flex-flow: column nowrap;
        width: 400px;
        margin: 0 auto;
        p{
            text-align: left; 
            margin-bottom: 20px; 
        }
        .choose-sport-menu{
            margin-bottom: 30px;
            width: 100%;
        }
    }
   
    
}