.archive-university-content{
    .drop-down-menu-block{
        display: flex;
        flex-flow: column nowrap;
        width: 400px;
        margin: 30px auto;
        p{
            text-align: left; 
            margin-bottom: 20px; 
        }
        .choose-sport-menu{
            margin-bottom: 30px;
            width: 100%;
            border: none;
            background: $color__main-block;
            color: #fff;
        }
    }
}
@include desktop{
  .archive-university-content{
    .heading-university{
      padding-top: 80px;
    }
    .drop-down-menu-block{
        margin: 0;
        padding-bottom: 5rem;
        p{
          font-size: 22px;
          margin-top: 0px !important;
        }
    }
    .university-container{
      padding-bottom: 10rem;
    }
  }
}

select {

    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  /* arrows */
  select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, $color__orange-accent 50%),
      linear-gradient(135deg, $color__orange-accent 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc) !important;
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em !important;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em !important;
    background-repeat: no-repeat !important;
  }

  @include desktop{
    .archive-university-content .drop-down-menu-block p{
      margin-top: 4em;
    }
    .archive-university-content .heading-university{
    font-weight: 900;
    font-style: normal;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    max-width: 100%;
    padding-top: 7rem;
    margin: 3rem;
  }
  }
