.page-id-27{
    h1{
        display: none;
    }
    h2{
        font-size: 1.2rem;
        font-weight: 900;
        letter-spacing: 1.5px;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        max-width: 250px;
        margin: 0 auto;
    }
    .connect,
    .with-coaches{
        max-width: 400px;
        text-align: left;
        font-size: 14px;
        margin: 0 auto;
    }
    .connect{
        padding-bottom: 10px;
    }
    h4{
        padding-top: 1rem;
        letter-spacing: 1.5px;
        word-spacing: 2px;
        font-weight: 900;
        font-style: normal;
    }
}

@media (min-width: $desktop-width) {
    .page-id-27{
        h1{
            display: none;
        }
        h2{
            font-size: 2.4rem;
            font-weight: 900;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }
        .connect{
            word-spacing: 1.5px;
            max-width: 850px;
            margin: 0 auto;
            text-align: left;
            font-size: 20px;
            color: rgb(104, 104, 104);
            font-weight: normal;
    }
    }
}