.page-id-25{
    .entry-title{
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .entry-content{
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 3rem;
    p{
        font-size: 14px;
    }
   
    .submit-button{
        text-align: center;
    }
    label{
        margin: 0;
    }
    .orange-button, 
    button[type=submit], 
    input[type=submit]{
        box-shadow: none;
        border: none;
        color: #fff;
        height: 3em;
        background: #ff6b00;
        padding: 8px 55px;
        font-size: 14px;
        border-radius: 10px;
        font-weight: 300;
        margin-left: 50px;
        letter-spacing: 1px;
    }
    }
    .wpcf7-textarea{
        height: 75px;
    }
    form p label{
        width: 100%;
    }
}


@include desktop {
    .page-id-25{
        .entry-title{
            padding-bottom: 1rem;
            text-transform: uppercase;
            padding-top: 7rem;
        }
    .entry-content{
        max-width: 900px;
        margin: 0 auto;
        font-size: 20px;

    .orange-button, 
    button[type=submit], 
    input[type=submit]{
        box-shadow: none;
        border: none;
        color: #fff;
        background: #ff6b00;
        padding: 20px 60px;
        font-size: 18px;
        border-radius: 5px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-left: 0;
    }
    .submit-button{
        text-align: left;
        margin-top: 0;
    }
    label{
        color: $color__text-main;
        font-weight: 300;
        width: 100%;
        font-size: 15px;
    }
    p{
        text-align: left;
        margin-top: 3rem;
        font-size: 22px;
    }
    }
    .wpcf7{
        max-width: 500px;
        margin: 0 auto;
    }
    .entry-content .question{
        width:100%
    }
    .page-template-default .wpcf7-form{
        width:100%;
    }

}
}