/* Events Page */
.events-area {
    p {
      margin: 0;
    }
    .event-image {
      height: 200px;
    }
    .event-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 30% 70%;
      margin: 0 auto;
    }
  }