/* Front page */
.top-heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  height: 80vh;
  text-align: center;
  background: linear-gradient(rgba(2, 35, 98, 0.3), rgba(2, 35, 98, 0.3)),
    url(../../assets/images/Duo-tone.png);
  background-size: cover, cover;
  background-position-x: center, center;
  background-position-y: center, center;
  color: white;
  padding: 20px;
  h2 {
    font-weight: bold;
    &:first-of-type {
      margin-top: 10px;
      margin-bottom: 0px;
    }
    &:last-of-type {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
}
.mid-heading {
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  background: $color__main-block;
  color: #fff;
  padding: $margin-mobiel;
  h2 {
    margin: 0px;
    text-align: center;
  }
  p {
    text-align: start;
  }
  h3 {
    margin: 0px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .text-block {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    h4 {
      width: 35%;
      color: #fff;
    }
    i {
      text-align: center;
      width: 50%;
    }
  }
}

.testimonial-container {
  width: 100%;
  .testimonial-item {
    width: 100%;
    display: block;
    position: relative;
  }
}

.step-to-follow-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  h2 {
  }
  h3 {
    font-weight: 400;
  }
  p {
    width: 50%;
    margin: 20px auto;
  }
  .orange-vertical-line {
    display: block;
    width: 0px;
    border-left: 3px solid $color__orange-accent;
    height: 50px;
    margin: auto;
    border-radius: 15%;
  }
}

.sport-select-container {
  padding-top: $margin-mobiel;
  padding-bottom: $margin-mobiel;
  background: $color__main-block;
  color: #fff;
  h3 {
    margin-bottom: 0px;
  }
  h2 {
    margin-bottom: $margin-mobiel;
  }
  .sport-list {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    .Other-menu {
      order: 100;
    }
    .each-item {
      width: 50%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      text-transform: uppercase;
      img {
        margin: auto;
        width: 50px;
      }
      p {
        display: inline-block;
        
        margin-left: auto;
        margin-right: auto;
        border-bottom: 5px solid transparent;
      }
    }
  }
  .front-page-search {
    padding-left: 20%;
    padding-right: 20%;
    margin-left: 0px;
  }
}

.front-page-testimonials {
  .testimonial-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    img {
      margin: auto;
      width: 80%;
      height: 50vw;
    }
    h2 {
    }
    .test-position {
    }

    p {
      margin: 0px;
    }
  }
  i {
    width: 30%;
    color: $color__orange-accent;
    &:last-of-type {
      width: 100%;
    }
  }
}
.transparent-underscore {
  border-bottom: 5px solid transparent;
}

.orange-underscore {
  border-bottom: 5px solid $color__orange-accent !important;
}

.test-title {
  padding: 1em;
}

.home ol {
  padding-bottom: 1em;
}

@include desktop {
  .top-heading {
    height: 1000px;
    background: url(../../assets/images/Duo-tone-cas.png);
    background-size: 160%;
    background-position-x: -50px;
    background-position-y: 0px;
    position: relative;
    top: 0px;
    z-index: -1;
    h2 {
      text-transform: uppercase;
      position: absolute;
      font-size: 60px;
      left: 10%;
      &:nth-of-type(1) {
        top: calc(15% + 70px);
      }
      &:nth-of-type(2) {
        top: 16%;
      }
    }
    p {
      position: absolute;
      left: 10%;
      top: calc(20% + 130px);
      font-size: 24px;
      color: $color__light-accent;
      padding-left: 0px !important;
    }
  }
  .mid-heading {
    position: absolute;
    top: 600px;
    border-top-left-radius: 240vw;
    border-top-right-radius: 240vw;
    width: 120vw;
    left: -10vw;
    overflow: hidden;
    p {
      width: 50%;
      margin: 20px auto;
    }
    h3 {
      text-transform: uppercase;
      width: 35%;
      font-size: 23px;
      margin: 40px auto;
      text-align: start;
      &:nth-of-type(2) {
        text-align: center;
      }
    }
    .help-step-container {
      display: flex;
      flex-flow: row nowrap;
      width: 70%;
      margin: auto;
      justify-content: space-between;
      .text-block {
        flex-flow: column nowrap;
        width: 20%;
        h4 {
          order: -1;
          font-weight: 300;
          width: 100%;
          text-align: center;
          color: #fff;
          height: 80px;
        }
        i {
          margin-top: 20px;
        }
      }
    }
    .white-lines-container {
      width: 70%;
      height: 50px;
      margin: 10px auto 50px auto;
      display: flex;
      flex-flow: row nowrap;
      .white-short-line {
        width: 27%;
        height: 100%;
        border: 1px solid #fff;
        border-bottom: 2px solid #fff;
        border-top: none;
        margin-top: 20px;
        &:nth-of-type(1) {
          width: 10%;
          border-left: none;
        }
        &:nth-of-type(5) {
          width: 10%;
          border-right: none;
        }
      }
    }
  }

  .test-title{
    text-transform: uppercase;
  }

  .step-to-follow-container {
    margin-top: 500px !important;
    h2 {
      text-transform: uppercase;
      margin: 50px auto;
    }
    .step-text-container {
      display: flex;
      flex-flow: row nowrap;
      padding-left: $margin-mobiel;
      padding-right: $margin-mobiel;
      margin-bottom: 60px;
      .step-text-block {
        background: $color__main-block;
        width: 20%;
        h3 {
          color: #fff;
          width: 100%;
          text-align: center;
          margin-right: 0px;
          &::first-letter {
            color: $color__main-block;
          }
          margin-left: -20px;
        }
        p {
          width: 100%;
          color: #fff;
        }
      }
      .orange-vertical-line {
        height: 0px;
        width: 100px;
        border: 2px solid #000;
      }
    }
  }

  .sport-select-container {
    h3 {
      text-transform: uppercase;
      font-size: 30px;
      display: inline-block;
      &::after {
        content: '. ';
      }
    }
    h2 {
      text-transform: uppercase;
      font-size: 30px;
      display: inline-block;
      &::after {
        content: '! ';
      }
    }
    .sport-list {
      width: 80%;
      margin: auto;
      justify-content: space-between;
      .each-item {
        width: 18%;
      }
    }
    .front-page-search {
      padding: 1% 10% 1% 10%;
      margin: 25px;
    }
  }

  .front-page-testimonials {
    h1 {
    }
    .testimonial-item {
      display: flex;
      flex-flow: row nowrap;
      padding-bottom: 40px;
      img {
        width: 30%;
        height: 20%;
      }
      .test-right-column {
        width: 50%;
        padding-right: 40px;
        h2 {
          text-align: start;
          margin-bottom: 10px;
        }
        .test-position {
          text-align: start;
        }
        .test-uni {
          text-align: start;
        }
        .test-block {
          display: flex;
          flex-flow: column nowrap;
          i{
            margin-left: -30px;
            padding-left: 0px;
            width: 30px;
          }
          .is-style-large{
            padding-left: 0px;
          }
          p{
            width: 100%;
            text-align: start;
            padding-left: 0px;
          }
        }
      }
    }
  }
}
