/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Global */
.site-content {
  text-align: center;
}

.sample-picture {
  height: 200px;
}

.orange-button,
input[type='submit'],
button[type='submit'] {
  box-shadow: none;
  border: none;
  color: #fff;
  background: #ff6b00;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
  border-radius: 15px;
  font-weight: 300;
}
/* Our Team page */
.page-template-team {
  .entry-content {
    text-align: center;
  }
  .entry-title {
    display: none;
  }
  h2 {
    color: black;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .ceo {
    a {
      display: none;
    }
    p {
      padding-right: 45px;
      padding-left: 45px;
    }
  }
  .ceo-caption {
    padding-top: 30px;
  }
  .wp-block-image-top {
    img {
      border-radius: 50%;
      width: 120px;
      height: auto;
    }
  }
  .wp-block-image {
    width: 250px;
    display: inline-block;

    figcaption {
      margin-top: 0.5em;
      margin-bottom: 1em;
      color: black;
      text-align: center;
      font-size: 17px;
      font-weight: 600;
    }
  }
  .wp-block-quote {
    font-style: italic;
    padding-bottom: 20px;
    font-size: 15px;
  }
  .orange-story {
    color: #ff6b00;
  }
  .about-our-concept {
    background: #003276;
    padding-top: 40px;
    padding-bottom: 40px;

    h2 {
      color: white;
    }
    p {
      color: white;
      padding-right: 45px;
      padding-left: 45px;
      font-weight: 100;
    }
  }
}
.achievement-history {
  padding-left: 90px;
  padding-right: 50px;
  p {
    font-size: 12px;
    padding-right: 55px;
    padding-left: 90px;
  }
  h4 {
    color: black;
    font-weight: 300;
  }
}
/* Single University Page */

.type-university {
  .sport-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    li {
      width: 50px;
    }
  }

  .read-more {
    color: #ff6b00;
  }
  .ubc-intro {
    background: #003276;
  }
  .entry-content {
    background: #003276;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    p {
      color: white;
      font-weight: 100;
    }
  }
  h2 {
    color: black;
    text-transform: uppercase;
  }
  h3 {
    color: black;
    text-transform: uppercase;
  }
  h4 {
    color: white;
    font-weight: 400;
    font-size: 18px;
  }

  .entry-title {
    color: white;
  }
  .uni-program {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .uni-prerequisites {
    padding-top: 80px;
    background: #003276;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  .uni-facilities {
    padding-top: 40px;
  }
  .wp-block-button__link {
    letter-spacing: 2px;
    font-weight: 300;
    background-color: #ff6b00;
    border-radius: 12px;
    font-size: 14px;
    margin: 0;
    padding: 10px 20px;
    margin-right: 150px;
  }
}

.post-63 {
  .wp-link-button__link {
    background: white;
  }
}

/* Join Us Page */

.page-id-29 {
  .entry-title {
    display: none;
  }
  .entry-content {
    p {
      padding-left: 40px;
      padding-right: 40px;
      margin-top: 2em;
    }
  }
  h4 {
    color: black;
    font-weight: 900;
    padding-right: 40px;
    padding-top: 50px;
    padding-left: 40px;
  }
  .button {
    background: #ff6b00;
    color: white;
    border-radius: 12px;
    width: 180px;
    letter-spacing: 2px;
    font-weight: 300;
  }
  .wp-block-button__link {
    letter-spacing: 2px;
    font-weight: 300;
    background-color: #003276;
    border-radius: 4px;
    font-size: 14px;
    margin: 0;
    padding: 2px 40px;
  }
  .ur-frontend-form {
    padding: none;
    button {
      float: none;
    }
  }
  .ur-frontend-form {
    border: none;
  }
}

/* Archive */

/* Single Blog Post */
.single-post {
  .entry-header {
    padding-right: 40px;
    padding-left: 40px;
    img {
      margin-top: 1em;
    }
  }
  .entry-title {
    margin-top: 1em;
    font-size: 1.6em;
  }
  .entry-content {
    p {
      padding-left: 40px;
      padding-right: 40px;
      margin-top: 2em;
    }
    p:nth-child(even) {
      color: white;
      background-color: #00237a;
      padding-top: 3em;
      padding-bottom: 3em;
    }
  }
}
