/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Global */
.site-content{
    text-align: center;
}

.sample-picture{
  height:200px;
}

/* Front page */
.top-heading{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width:100%;
    height: 50vh;
    text-align: center;
    background: linear-gradient(rgba(2, 35, 98, 0.3), rgba(2, 35, 98, 0.3)), url(../../assets/images/Duo-tone.png);
    background-size: cover, cover;
    background-position-x: center, center;
    background-position-y: center, center;
    color: white;
    padding:20px;
    h2{
        font-weight:bold;
        &:first-of-type{
            margin-top: 10px;
            margin-bottom: 0px;
        }
        &:last-of-type{
            margin-top: 0px;
            margin-bottom: 10px;
        }
       
    }
}
.mid-heading{
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width:100%;
    background: $color__main-block;
    color: #fff;
    padding: 40px;
    h2{
        margin: 0px;
        text-align: center;
    }
    p{
        text-align: start;
    }
    h3{
        margin: 0px;
    }
    h4{
        height: 60px;
        i{
            width: 100px;
        }
    }
}

.page-template-team {
  .entry-content {
    text-align: center;
  }
  .entry-title {
    display: none;
  }
  h2 {
    color: black;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
  }
  .ceo {
    padding-right: 45px;
    padding-left: 45px;
    a {
      display: none;
    }
  }
  .wp-block-image-top {
    img {
      border-radius: 50%;
      width: 120px;
      height: auto;
    }
  }
  .wp-block-image {
    width: 250px;
  }
  .wp-block-quote {
    font-style: italic;
  }
  .orange-story {
    color: #ff6b00;
  }
  .about-our-concept {
    background: #003276;
    padding-top: 40px;
    padding-bottom: 40px;

    h2 {
      color: white;
    }
    p {
      color: white;
      padding-right: 45px;
      padding-left: 45px;
    }
  }
  .our-faces {
  }
}

/* Events Page */

.events-area{

    p{
        margin: 0;
    }
    display: grid;
}

/* ARCHIVE */

  .testimonial h1{
    color:black;
    text-transform:capitalize;
  }



.front-page-testimonials{
  .carousel-cell{
    width:100%;
    margin-top: 4em;
  }
}