/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Global */
.site-content{
    text-align: center;
}

.sample-picture{
  height:200px;
}

/* Front page */
.top-heading{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width:100%;
    height: 50vh;
    text-align: center;
    background: linear-gradient(rgba(2, 35, 98, 0.3), rgba(2, 35, 98, 0.3)), url(../../assets/images/Duo-tone.png);
    background-size: cover, cover;
    background-position-x: center, center;
    background-position-y: center, center;
    color: white;
    padding:20px;
    h2{
        font-weight:bold;
        &:first-of-type{
            margin-top: 10px;
            margin-bottom: 0px;
        }
        &:last-of-type{
            margin-top: 0px;
            margin-bottom: 10px;
        }
       
    }
}
.mid-heading{
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width:100%;
    background: $color__main-block;
    color: #fff;
    padding: 40px;
    h2{
        margin: 0px;
        text-align: center;
    }
    p{
        text-align: start;
    }
    h3{
        margin: 20px auto;
        text-align: center;
    }
    h4{
        height: 60px;
        text-align: left;
        width: 300px;
        margin: auto;
        i{
            width: 80px;
        }
    }
}

.page-template-team {
  .entry-content {
    text-align: center;
  }
  .entry-title {
    display: none;
  }
  h2 {
    color: black;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .ceo {
    padding-right: 45px;
    padding-left: 45px;
    a {
      display: none;
    }
  }
  .ceo-caption {
    padding-top: 30px;
  }
  .wp-block-image-top {
    img {
      border-radius: 50%;
      width: 120px;
      height: auto;
    }
  }
  .wp-block-image {
    width: 250px;
    display: inline-block;
  }
  .wp-block-quote {
    font-style: italic;
    padding-bottom: 20px;
    font-size: 15px;
  }
  .orange-story {
    color: #ff6b00;
  }
  .about-our-concept {
    background: #003276;
    padding-top: 40px;
    padding-bottom: 40px;

    h2 {
      color: white;
    }
    p {
      color: white;
      padding-right: 45px;
      padding-left: 45px;
      font-weight: 100;
    }
  }
 
}
.achievement-history {
  padding-left: 90px;
  padding-right: 50px;
  p {
    font-size: 12px;
    padding-right: 55px;
    padding-left: 90px;
  }
  h4 {
    color: black;
    font-weight: 300;
  }
}

/* Events Page */

.events-area{

    p{
        margin: 0;
    }
    display: grid;
}

/* ARCHIVE */

  .testimonial h1{
    color:black;
    text-transform:capitalize;
  }


    .event-image{
        height: 200px;
    }
    .event-grid{
        display: grid;
    }

/* Universities Page */
.page-template-archive-university{
    ul{
        text-align: left;
        list-style-type: none;
    }
    .university-container{
        img{
            object-fit: cover;
            width: 300px;
            height: 100px;
            }
    }

    .university-name{
        font-size: 12px;
        margin: 0;
    }

    .university-city{
        font-size: 10px;
    }

    .university-title-location a{
        text-decoration: none;
        letter-spacing: 1px;

    }
}
/* Footer */

.front-page-testimonials{
  .carousel-cell{
    width:100%;
    margin-top: 4em;
  }
}