//register page
.page-id-41 {
  .student-reg {
    padding: 120px 70px 10px;
    font-weight: 900;
    font-style: normal;
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
  .Submit {
    margin-top: 25px;
    letter-spacing: 2px;
    width: 220px;
  }
  .entry-title {
    display: none;
  }
}
.sign-facebook-button {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background: $color__main-block;
}
.sign-google-button {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background: $color__light-text;
}
.ur-frontend-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.ur-frontend-form form button[type='submit'],
.ur-frontend-form form input[type='submit'] {
  float: none;
}
.wp-block-button__link {
  padding: 5px 40px;
}
@include desktop {
  .page-id-41 {
    .wpcf7 label {
      display: block;
      text-align: start;
      width: 25%;
      margin: auto;
    }
    .or {
      font-size: 20px;
    }
    .student-reg {
      white-space: nowrap;
      display: flex;
      font-weight: 500;
      font-size: 20px;
      padding-top: 80px;
      padding-bottom: 60px;
      font-style: normal;
      margin: 0 auto;
      letter-spacing: 1px;
      word-spacing: 1px;
    }
    .wpcf7 label {
      display: block;
      text-align: start;

      margin: auto;
    }
    .orange-button,
    input[type='submit'],
    button[type='submit'] {
      box-shadow: none;
      border: none;
      color: #fff;
      background: #ff6b00;
      padding: 20px 60px;
      font-size: 18px;
      border-radius: 8px;
      font-weight: 500;
      margin-left: 290px;
      letter-spacing: 2px;
    }
    .wp-block-button__link {
      width: 430px;
      letter-spacing: 2px;
      font-weight: 400;
      background-color: #003276;
      border-radius: 12px;
      font-size: 18px;
      margin: 0;
      padding: 16px;
    }
    textarea,
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='text'] {
      color: #666;
      border: 1px solid #00237a;
      border-radius: 12px;
      height: 45px;
    }
  }
}
@include desktop {
  .page-id-43 {
    .ur-frontend-form form .ur-form-row .ur-form-grid input[type='text'],
    .ur-frontend-form form .ur-form-row .ur-form-grid input[type='email'],
    .ur-frontend-form form .ur-form-row .ur-form-grid label .required,
    .ur-frontend-form form .ur-form-row .ur-form-grid textarea,
    .ur-frontend-form form .ur-form-row .ur-form-grid input[type='password'] {
      width: 100%;
      border-radius: 8px;
      height: 45px;
      margin-bottom: 10px;
    }
    .ur-frontend-form form .ur-form-row .ur-form-grid select {
      height: 40px;
      margin-bottom: 10px;
      width: 280px;
    }
    .select {
      color: white;
      background-color: #00237a;
    }
    .ur-frontend-form form .ur-form-row .ur-form-grid textarea {
      height: 140px;
    }
    .entry-title {
      display: none;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 1px;
      font-size: 38px;
      padding-bottom: 40px;
      padding-top: 80px;
    }
    textarea,
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='text'] {
      color: #666;
      border: 1px solid #00237a;
      border-radius: 6px;
      height: 45px;
    }
    .wpcf7-form {
      display: block;
      text-align: start;
      width: 40%;
      margin: auto;
    }
    .ur-form-row {
      display: block;
      text-align: start;
      width: 35%;
      margin: auto;
    }

    .ur-frontend-form form button {
      margin-top: 30px;
      padding: 20px 20px;
      margin-bottom: 200px;
      line-height: 1em;
      text-align: center;
      word-break: break-word;
      white-space: normal;
      border: none;
      cursor: pointer;
      -webkit-transition: 0.9s all ease-out;
      transition: 0.9s all ease-out;
    }
    .ur-field-item {
      label {
        font-size: 16px;
        color: grey;
      }
    }
  }
}
