//register page
.page-id-41 {
  .student-reg {
    padding: 120px 70px 10px;
    font-weight: 900;
    font-style: normal;
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
  .Submit {
    margin-top: 25px;
    letter-spacing: 2px;
    width: 220px;
  }
  .entry-title {
    display: none;
  }
}
.sign-facebook-button {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background: $color__main-block;
}
.sign-google-button {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background: $color__light-text;
}
.ur-frontend-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.ur-frontend-form form button[type='submit'],
.ur-frontend-form form input[type='submit'] {
  float: none;
}
.wp-block-button__link {
  padding: 5px 40px;
}
@include desktop {
  .page-id-41 {
    .or {
      font-size: 20px;
    }
    .student-reg {
      white-space: nowrap;
      display: flex;
      font-weight: 500;
      font-size: 20px;
      padding-top: 80px;
      padding-bottom: 60px;
      font-style: normal;
      margin: 0 auto;
      letter-spacing: 1px;
      word-spacing: 1px;
    }
    .wpcf7 label {
      display: block;
      text-align: start;

      margin: auto;
    }
    .orange-button,
    input[type='submit'],
    button[type='submit'] {
      box-shadow: none;
      border: none;
      color: #fff;
      background: #ff6b00;
      padding: 20px 60px;
      font-size: 18px;
      border-radius: 8px;
      font-weight: 500;
      margin-left: 290px;
      letter-spacing: 2px;
    }
    .wp-block-button__link {
      width: 430px;
      letter-spacing: 2px;
      font-weight: 300;
      background-color: #003276;
      border-radius: 12px;
      font-size: 16px;
      margin: 0;
      padding: 16px;
    }
    textarea,
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='text'] {
      color: #666;
      border: 1px solid #00237a;
      border-radius: 12px;
      height: 45px;
    }
    .wpcf7 label {
      display: block;
      text-align: start;

      margin: auto;
    }
  }
}
@include desktop {
  .page-id-43 {
    .entry-title {
      display: none;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 1px;
      font-size: 38px;
      padding-bottom: 60px;
      padding-top: 200px;
    }
    textarea,
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='text'] {
      color: #666;
      border: 1px solid #00237a;
      border-radius: 6px;
      height: 45px;
    }
    .wpcf7-form {
      display: block;
      text-align: start;
      width: 40%;
      margin: auto;
    }
    .wpcf7-submit {
    }
  }
}
@include desktop {
  .heading-university,
  .page-template-team h2,
  .page h2 {
    font-size: 2rem;
    padding-top: 1em;
  }
}
