.tax-testimonial_category,
.page-template-archive-testimonial,
.home {
  .wp-block-quote p {
    font-size: 15px;
    margin-bottom: 4em;
    width: 28em;
    margin: auto;
  }

  .test-block i {
    width: 14%;
    color: $color__orange-accent;
    padding-left: 4em;
}
}


.mobile-slide {
  padding-left:0;
  margin-left: 0;
  
  .banner-box{
  border-bottom: $color__light-text solid 2.5px;
  margin-bottom: 3em;
  margin-left: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-inline-start: .05px;
  padding-inline-end: .05px;
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
    width:33%;
  }
}

}
.testimonial-item h2, .testimonial h1 {
  color: #000;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 1.5em;
  padding-top:1em;
}

.test-block{
  display:flex;
  margin-top: 1em;
}

.orange-underline {
  border-bottom: 5px solid $color__orange-accent;
}
@include desktop{
  .page-template-archive-testimonial, .tax-testimonial_category, .blog, .archive{
    .main-navigation{
      margin-bottom:0;
    }
  }
  .mobile-slide{
    height: 16em;
    border-bottom:none;
    color:white;
    a{
      border:white 1px solid;
      border: 1px solid #fff;
      padding: .3em;
      background: white;
      padding-right: 3em;
      padding-left: 3em;
    }
    li{
      width: 14em;
    }

  }

  .blog .mobile-slide, .archive .mobile-slide{
    background-image: url(../../Icons/blog-header.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    .orange-underline{
      border-bottom:none;
    }
  }
  .page-template-archive-testimonial .mobile-slide, .tax-testimonial_category .mobile-slide{
    background-image: url(../../Icons/field-test.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2em;
    background-position: center;
    display: flex;
    flex-direction: column;
  }


  .slide-list{
    flex-direction: row;
    width:auto;
  }

  .banner-box{
    display:flex;
    justify-content: center;
  }

  .page-template-archive-testimonial, .tax-testimonial_category{
    .container{
      display: flex;
      flex-direction: column;
    }
    .test-image{
      margin-left: 10em;
    }
    article{
      display:flex;
      margin: auto;
      margin-bottom: 8em;
    }
    .wp-block-quote p{
      font-size: 21px;
    }

    .sample-picture{
     height: 17em;
    }
    .test-cluster{
      text-align:left;
      h1{
        font-size: 22px;
        margin-bottom:0;
      }
      .test-position, .test-uni{
        color:gray;
      }
    }
  }
  .tax-testimonial_category .test-block i,.page-template-archive-testimonial .test-block i{
    padding-left:0;
  }

  .test-image{
    margin-right: 3em;

  }

}