.tax-testimonial_category,
.page-template-archive-testimonial,
.home {
  .wp-block-quote p {
    font-size: 15px;
    margin-bottom: 4em;
    width: 28em;
    margin: auto;
  }

  .test-block i {
    width: 14%;
    color: $color__orange-accent;
    padding-left: 4em;
}
}


.mobile-slide {
  border-bottom: $color__light-text solid 2.5px;
  margin-bottom: 3em;
  margin-left: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-inline-start: .05px;
  padding-inline-end: .05px;
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
    width:33%;
  }

}
.testimonial-item h2, .testimonial h1 {
  color: #000;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 1.5em;
  padding-top:1em;
}

.test-block{
  display:flex;
  margin-top: 1em;
}
