.tax-testimonial_category,
.page-template-archive-testimonial {
  .wp-block-quote p {
    font-size: 15px;
    margin-bottom: 4em;
  }

  i {
    width: 30%;
    color: $color__orange-accent;
    &:last-of-type {
      width: 100%;
  }
}
}


.mobile-slide {
  border-bottom: $color__light-text solid 2.5px;
  margin-bottom: 3em;
  margin-left: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-inline-start: .05px;
  padding-inline-end: .05px;
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
    width:33%;
  }

}
.testimonial h1 {
  color: #000;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 1.5em;
}

.mobile-slide {
  border-bottom: $color__light-text solid 2.5px;
  margin-bottom: 3em;
  margin-left: 0;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1em;
  padding-inline-start: .05px;
  padding-inline-end: .05px;
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
    width:33%;
  }

}
.testimonial h1 {
  color: #000;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 1.5em;
}