/* Universities Page */
.page-template-archive-university {
  ul {
    text-align: left;
    list-style-type: none;
  }
  .university-container {
    img {
      object-fit: cover;
      width: 400px;
      height: 150px;
    }
  }

  .university-name {
    font-size: 16px;
    margin: 0;
  }

  .university-city {
    font-size: 14px;
    margin-top: 1px;
  }

  .university-title-location a {
    text-decoration: none;
    letter-spacing: 1px;
  }
  .type-university {
    margin-bottom: 4rem;
  }
}
.heading-university {
  padding-top: 40px;
  text-transform: uppercase;
}
.university-template-default {
  .best-of-ubc-title {
    height: auto;
    h5 {
      display: block;
      margin-bottom: 0px;
    }
  }
  .best-of-ubc {
    background: #fff;
    width: 100vw;
    margin-left: -40px;
    img {
      width: 80%;
      margin: auto;
    }
  }
  .entry-header {
    img {
      width: 100%;
    }
  }
  .entry-content {
    padding-bottom: 2px;
    h4 {
      margin: 0px;
    }
  }
  .wp-block-button__link {
    padding: 10px;
    width: 70%;
    height: auto;
    border-radius: 10px;
  }
  ul.sport-list {
    padding: 0px;
    margin: 40px auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}
.university-gallary-ubc {
  display: none;
}
.single-university{
  iframe{
    display:none;
  }
}

@include desktop {
  .half-transparent {
    background: #fff;
    opacity: 0.7;
    position: absolute;
    top: 0px;
  }
  .single-university .entry-content,
  .single-university .uni-prerequisites {
    padding-left: 12em;
    padding-right: 12em;
  }
  .single-university {
    .entry-content {
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      padding: 0px;
      width: 110vw;
      margin-left: -5vw;
      height: 53em;
      .uni-block {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 60%;
        margin: auto;
        ul {
          order: -1;
        }
      }
      h4,
      p {
        width: 60%;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
    .sport-list {
      width: 500px;
    }
    .wp-block-button__link {
      padding-top: 0.8em;
      width: 101%;
      border-radius: 19px;
      margin-top: 1.5em;
      margin-right: 0;
    }
  }

  .uni-block {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }

  .single-university .entry-title {
    text-align: center;
    width: 100%;
  }
  .university-template-default {
    h1.entry-title {
      text-transform: uppercase;
      padding-left: 0px;
      font-size: 30px;
    }
    .best-of-ubc-title {
      display: none;
      height: auto;
      h5 {
        display: none;
      }
    }
    .best-of-ubc {
      background: #fff;
      width: 100vw;
      margin-left: 5vw;
      background: transparent;
      color: #fff;
      border: none;
      img {
        width: 50%;
        margin: auto;
      }
      .wp-block-image {
        display: none;
      }
      i {
        display: none;
      }
    }
    .entry-header {
      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: 0px 0px;
      }
    }
    .entry-content {
      padding-bottom: 2px;
      h4 {
        margin: 0px;
      }
    }
    .wp-block-button__link {
      padding: 10px;
      width: 100%;
      height: auto;
      border-radius: 10px;
      margin-top: 40px;
    }
    ul.sport-list {
      padding: 0px;
      margin-top: 40px;
      margin-left: 0px;
      width: 70%;
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: start;
      li {
        margin-right: 30px;
      }
    }
    .read-more {
      color: #fff;
      padding-bottom: 0px;
    }
  }
  .university-gallary-ubc {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    background: transparent;
    li {
      width: 80%;
      padding-top: 100px;
      figure {
        width: 80%;
        padding-left: 5%;
        margin: auto !important;
        figcaption {
          background: none !important;
          position: absolute;
          padding-top: 40px;
          top: 0px;
          left: 0px;
        }
      }
    }
  }
  .uni-program {
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
    margin: auto;
    font-size: 17px;
    text-align: left;
    color: darkslategray;
    justify-content: space-between;
    margin-bottom: 40px;
    div {
      width: 30%;
    }
    .read-more {
      display: none;
    }
  }
  .uni-prerequisites {
    strong {
      display: block;
    }
    br {
      display: none;
    }
    div{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      strong{
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 400;
      }
      p {
        font-weight: 300;
        width: 30%;
        font-size: 14px;
      }
    }
    
  }
  .uni-facilities{
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    margin: auto;
    padding-top: 2em;
    line-height: 2.5;
    padding-bottom: 6em;
    font-size: 15px;
    div{
      width: 50%;
      line-height: 1.75;
    }
  }
}

@media (min-width: $desktop-width) {
.page-template-archive-university{
  .university-container{
    display: flex;
    justify-content: space-around;
    max-width: 1275px;
    margin: 0 auto;
    margin-top:-3em;
    img {
      width: 100%;
      height: 225px;
    }
    article{
      width: 30%;
    }
  }
  .heading-university{
    margin-top: 1em;
  }
  .university-container{
    width:80%;
    // margin: 1em;
  }
  .type-university{ 
    margin: 1em;}

}
.drop-down-menu-block{
  margin-left: 11.25%!important;
 width: 200px !important;
}

.university-template-default{

  .entry-content .wp-block-button a{
    height: 4em;
    padding-top: 1.4em;
    font-weight: 500;
    }
    h1.entry-title{
      padding-bottom: 1em;
    }
    h3{
      font-size:32px;
    }
  }

  .single-university{
    iframe{
      display:block;
    }
  }
}
