/* Universities Page */
.page-template-archive-university {
    ul {
      text-align: left;
      list-style-type: none;
    }
    .university-container {
      img {
        object-fit: cover;
        width: 400px;
        height: 150px;
      }
    }
  
    .university-name {
      font-size: 16px;
      margin: 0;
    }
  
    .university-city {
      font-size: 14px;
      margin-top: 1px;
    }
  
    .university-title-location a {
      text-decoration: none;
      letter-spacing: 1px;
    }
    .type-university{
      margin-bottom: 4rem;
    }
  }
.heading-university{
  padding-top: 40px;
  text-transform: uppercase;
}

  @include desktop{
    .university-template-default .entry-content, .university-template-default .uni-prerequisites {
      padding-left:12em;
      padding-right:12em;
    }
    .university-template-default{

     .entry-content{
      border-bottom-left-radius: 240vw;
      border-bottom-right-radius: 240vw;
      height:60em;
    }
    .sport-list {
      width: 500px;
    }
    .wp-block-button__link{
      padding-top: 0.8em;
      width: 101%;
      border-radius: 19px;
      margin-top: 1.5em;
      margin-right:0;
    }
  }

    .uni-block{
      display:flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
    }

    .university-template-default .entry-title{
      text-align: center;
      width: 100%;
    }
  }