/* Universities Page */
.page-template-archive-university {
    ul {
      text-align: left;
      list-style-type: none;
    }
    .university-container {
      img {
        object-fit: cover;
        width: 400px;
        height: 150px;
      }
    }
  
    .university-name {
      font-size: 16px;
      margin: 0;
    }
  
    .university-city {
      font-size: 14px;
      margin-top: 1px;
    }
  
    .university-title-location a {
      text-decoration: none;
      letter-spacing: 1px;
    }
    .type-university{
      margin-bottom: 4rem;
    }
  }
.heading-university{
  padding-top: 40px;
  text-transform: uppercase;
}
.university-template-default {
  .best-of-ubc-title{
    height: auto;
    h5{
      display: block;
      margin-bottom: 0px;
    }
   
  }
  .best-of-ubc{
    background: #fff;
    width:100vw;
    margin-left: -40px;
    img{
      width:80%;
      margin: auto;
    }
  }
  .entry-header{
    img{
      width: 100%;
    }
  }
  .entry-content{
    padding-bottom: 2px;
    h4{
      margin: 0px;
    }
  }
  .wp-block-button__link{
    padding: 10px;
    width: 70%;
    height: auto;
    border-radius: 10px;
  }
  ul.sport-list{
    padding: 0px;
    margin: 40px auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}
.university-gallary-ubc{
  display: none;
}


  @include desktop{
    .single-university .entry-content, .single-university .uni-prerequisites {
      padding-left:12em;
      padding-right:12em;
    }
    .single-university{
      
     .entry-content{
      border-bottom-left-radius: 240vw;
      border-bottom-right-radius: 240vw;
      height:60em;
    }
    .sport-list {
      width: 500px;
    }
    .wp-block-button__link{
      padding-top: 0.8em;
      width: 101%;
      border-radius: 19px;
      margin-top: 1.5em;
      margin-right:0;
    }
  }

    .uni-block{
      display:flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
    }

    .single-university .entry-title{
      text-align: center;
      width: 100%;

    }
  }